body {
    padding-top: 56px; /* Отступ для хедера */
    padding-bottom: 56px; /* Отступ для футера */
    background-image: url('../public/img/fon/h2.jpeg');
    background-size: cover; /* Масштабирование картинки, чтобы покрыть весь экран */
    background-attachment: fixed; /* Картинка остается на месте при прокрутке */
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    margin-left: 0 !important;
    width: 100% !important;
    left: 0 !important;

}

.ss {border: 2px solid green}
.bb {border: 2px solid blue}
.rr {border: 2px solid red}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

#desktopMenu .nav-link:hover {
    color: #fff; /* Цвет текста при наведении */
    background-color: #007bff; /* Цвет фона при наведении */
}

/*#loading-spinners {*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    z-index: 1050; !* Убедитесь, что спиннер находится выше других элементов *!*/
/*    !*display: none; !* По умолчанию спиннер скрыт *!*!*/
/*}*/

/*body.loading .loading-spinners {*/
/*    display: block; !* Показываем спиннер, когда тело имеет класс 'loading' *!*/
/*}*/

/*!* Отключаем скроллинг, пока спиннер активен *!*/
/*body.loading {*/
/*    overflow: hidden;*/
/*}*/











/* --------------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
    #desktopMenu {
        display: none !important;
    }

    .main-card {
        margin-left: 0 !important;
    }

    footer.fixed-bottom {
        margin-left: 0 !important;
    }

    .footer-location-text {
        display: none;
    }

    .footer-facebook-text {
        display: none;
    }

    .footer-email-text {
        display: none;
    }
    .base-card:last-child {
        margin-bottom: 40px; /* Отступ для мобильных устройств */
    }
    .footer-icons-row {
        display: flex;
        justify-content: space-around; /* Равномерное распределение иконок */
        align-items: center;
        text-align: center;
    }
}
